@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus, 
input:focus-visible{
  outline: none;
  border-width: 0.1px !important;
  border-color: rgb(222, 39, 39) !important ;
  box-shadow: rgba(248, 117, 110, 0.3) 0px 0px 0px 2pt !important;
}

.card-shadow{
  box-shadow: 0px 7px 73px #0000001A;
}

.active::after{
  transition: background-color 0.4s ease 0s;
  background-color: rgb(222, 39, 39);
  bottom: 0%;
  content: "";
  display: block;
  height: 4px;
  left: 0px;
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.custom-shadow:hover{
  transition: all 0.2s ease 0s;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}

.sidebar-container{
  background-color: rgba(0, 0, 0, 0.25);
}

.sidebar-open{
  position: fixed;
  top: 64px;
  right: 0px;
  bottom: 0px;
  width: 420px;
  z-index: 90;
  height: 100vh;
  padding: 2px 20px 20px 20px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(229, 232, 235);
  overflow: auto;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  visibility: visible;
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.sidebar-close{
    position: fixed;
    top: 64px;
    right: 0px;
    bottom: 0px;
    width: 420px;
    z-index: 90;
    height: 100vh;
    padding: 2px 20px 20px 20px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 232, 235);
    overflow: auto;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    visibility: visible;
    transform: translate3d(100%, 0px, 0px);
    opacity: 0;
}

.wallet-item:hover{
  transition: all 0.2s ease 0s;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  background-color: rgb(251, 253, 255);
}

.showcase{
  background-image: url(/public/assets/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgb(255, 255, 255);
  background-position: center center;
  opacity: 0.3;
  filter: blur(8px);
  -webkit-mask: linear-gradient(rgb(255, 255, 255), transparent);
}
  
  .showcase-header:hover{
    transition: box-shadow 0.3s ease-in 0s;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 50px 0px;
  }

  .nft-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://picsum.photos/1200/200/?random');
  }

  .options-container{
    top: 1.4rem;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
  }

  .options-parent:hover .options-container{
    display: block;
    opacity: 1;
  }